/*Style menu*/
main {
    padding-left: 10vh;
}

#Logo {
    width : 100px;
    height : 130px;

}

nav {
    display: flex;
    background-color: #D9CA2A;
    height: 130px;
    }

#menu {
    display:flex;
}

#validation {
    background-color: #8AB9B5;
    border-style: none;
    border-radius: 25px;
    color: #FDFDFD;
    font-size: 20px;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
    list-style:none;
}

 li a {
    padding: 60px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-decoration: none;
}

footer {
    padding: 60px;
    background-color: #D9CA2A;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-decoration: none;
}

/* Style pour les jours affichés en ligne */
#jourSemaine {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

#jourSemaine p {
    margin: 0; 
    padding: 5px 10px; 
    background-color: #360b0b; 
    border: 1px solid #ccc; 
    font-family: Arial, sans-serif; 
    font-size: 20px;
    color: #dfd9d9; 
}

/* Style pour le jour correspondant à la date du jour */
.jourActuel {
    background-color: blue;
    color: red; 
    font-weight: bold; 
}


