/*Style menu*/
main {
    padding-left: 10vh;
}

#Logo {
    width : 100px;
    height : 130px;

}

nav {
    display: flex;
    background-color: #D9CA2A;
    height: 130px;
    }

#menu {
    display:flex;
}

#validation {
    background-color: #8AB9B5;
    border-style: none;
    border-radius: 25px;
    color: #FDFDFD;
    font-size: 20px;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
    list-style:none;
}

 li a {
    padding: 60px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-decoration: none;
}

footer {
    padding: 60px;
    background-color: #D9CA2A;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}
.jourActuel {
    background-color: #ffeb3b; /* Mettre en avant le jour actuel */
    font-weight: bold;
}
